/.github            export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.releaserc         export-ignore
/CHANGELOG.md       export-ignore
/LICENSE            export-ignore
/README.md          export-ignore
/package.json       export-ignore
/package-lock.json  export-ignore
/phpcs.xml          export-ignore
/vendor             export-ignore
